:root {
    /* Colores */
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000;
    /*Fuentes*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Quicksand', sans-serif;
}
main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
.container-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    width: 150px;
    margin: 50px 0;
    display: none;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.label {
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-input-field);
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 13px;
    font-size: var(--sm);
}
.buttom {
    background-color: var(--hospital-green);
    border: none;
    height: 40px;
    font-size: var(--md);
    color: var(--text-input-field);
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}
form a {
    font-size: var(--sm);
    color: var(--hospital-green);
    text-align: center;
    text-decoration: none;
}
form button {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 400px;
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    height: 40px;
    font-size: var(--md);
    font-weight: bold;
    color: var(--hospital-green);
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}
@media (max-width: 720px) {
    .logo {
        display: block;
    }
}
@media (min-width: 721px) {
    form button {
        top: 350px;
    }
}